Monitoring Gas Buang Kendaraan Bermotor - Node-RED.json.json
[
    {
        "id": "44d14471bf69e245",
        "type": "mqtt in",
        "z": "73fbb4589eaafdb7",
        "name": "",
        "topic": "ta-anggi-ump20/co",
        "qos": "2",
        "datatype": "auto",
        "broker": "f0dd0865.0d98b",
        "nl": false,
        "rap": false,
        "inputs": 0,
        "x": 490,
        "y": 380,
        "wires": [
            [
                "77b2f0fd3f880d43",
                "3b2667b0a4cbd0cf"
            ]
        ]
    },
    {
        "id": "cc01aa292e7057f2",
        "type": "mqtt in",
        "z": "73fbb4589eaafdb7",
        "name": "",
        "topic": "ta-anggi-ump20/nox",
        "qos": "2",
        "datatype": "auto",
        "broker": "f0dd0865.0d98b",
        "nl": false,
        "rap": false,
        "inputs": 0,
        "x": 490,
        "y": 280,
        "wires": [
            [
                "97ef58c6a47428d5",
                "35356a97c1e34961"
            ]
        ]
    },
    {
        "id": "77b2f0fd3f880d43",
        "type": "ui_gauge",
        "z": "73fbb4589eaafdb7",
        "name": "CO Concentration",
        "group": "f0a244d28136cdaf",
        "order": 0,
        "width": "6",
        "height": "4",
        "gtype": "gage",
        "title": "CO Concentration",
        "label": "ppm",
        "format": "{{value}}",
        "min": 0,
        "max": "100",
        "colors": [
            "#00b500",
            "#e65000",
            "#691111"
        ],
        "seg1": "",
        "seg2": "",
        "diff": false,
        "className": "",
        "x": 730,
        "y": 400,
        "wires": []
    },
    {
        "id": "97ef58c6a47428d5",
        "type": "ui_gauge",
        "z": "73fbb4589eaafdb7",
        "name": "NOx Concentration",
        "group": "f0a244d28136cdaf",
        "order": 1,
        "width": "6",
        "height": "4",
        "gtype": "gage",
        "title": "NOx Concentration",
        "label": "ppm",
        "format": "{{value}}",
        "min": 0,
        "max": "100",
        "colors": [
            "#00b500",
            "#e65000",
            "#751010"
        ],
        "seg1": "",
        "seg2": "",
        "diff": false,
        "className": "",
        "x": 730,
        "y": 300,
        "wires": []
    },
    {
        "id": "9a0b5f89d488d8f7",
        "type": "ui_button",
        "z": "73fbb4589eaafdb7",
        "name": "",
        "group": "cf8c7edb9fe7399d",
        "order": 7,
        "width": "3",
        "height": "1",
        "passthru": false,
        "label": "Submit",
        "tooltip": "",
        "color": "",
        "bgcolor": "",
        "className": "",
        "icon": "",
        "payload": "true",
        "payloadType": "bool",
        "topic": "",
        "topicType": "str",
        "x": 220,
        "y": 340,
        "wires": [
            [
                "8fd86f6eb5c1281f"
            ]
        ]
    },
    {
        "id": "581902f40304d054",
        "type": "ui_table",
        "z": "73fbb4589eaafdb7",
        "group": "cf8c7edb9fe7399d",
        "name": "Records Tabel",
        "order": 3,
        "width": "6",
        "height": "6",
        "columns": [
            {
                "field": "CO",
                "title": "CO",
                "width": "80",
                "align": "center",
                "formatter": "plaintext",
                "formatterParams": {
                    "target": "_blank"
                }
            },
            {
                "field": "NOx",
                "title": "NOx",
                "width": "80",
                "align": "center",
                "formatter": "plaintext",
                "formatterParams": {
                    "target": "_blank"
                }
            },
            {
                "field": "timestamp",
                "title": "Timestamp",
                "width": "158",
                "align": "left",
                "formatter": "plaintext",
                "formatterParams": {
                    "target": "_blank"
                }
            }
        ],
        "outputs": 0,
        "cts": false,
        "x": 1180,
        "y": 520,
        "wires": []
    },
    {
        "id": "97ecb29ebd64623e",
        "type": "function",
        "z": "73fbb4589eaafdb7",
        "name": "Start Recording",
        "func": "context.set('counter', 0);\nreturn {payload: \"start\"};",
        "outputs": 1,
        "timeout": "",
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 720,
        "y": 460,
        "wires": [
            [
                "63898fda441bbff4"
            ]
        ]
    },
    {
        "id": "8fd86f6eb5c1281f",
        "type": "trigger",
        "z": "73fbb4589eaafdb7",
        "name": "",
        "op1": "true",
        "op2": "",
        "op1type": "bool",
        "op2type": "str",
        "duration": "-5000",
        "extend": false,
        "overrideDelay": false,
        "units": "ms",
        "reset": "stop",
        "bytopic": "all",
        "topic": "topic",
        "outputs": 1,
        "x": 500,
        "y": 460,
        "wires": [
            [
                "97ecb29ebd64623e"
            ]
        ]
    },
    {
        "id": "3b2667b0a4cbd0cf",
        "type": "function",
        "z": "73fbb4589eaafdb7",
        "name": "Store CO Value",
        "func": "flow.set('co', msg.payload);\nreturn msg;",
        "outputs": 1,
        "timeout": "",
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 720,
        "y": 360,
        "wires": [
            [
                "63898fda441bbff4"
            ]
        ]
    },
    {
        "id": "35356a97c1e34961",
        "type": "function",
        "z": "73fbb4589eaafdb7",
        "name": "Store NOx Value",
        "func": "flow.set('nox', msg.payload);\nreturn msg;",
        "outputs": 1,
        "timeout": "",
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 730,
        "y": 260,
        "wires": [
            [
                "63898fda441bbff4"
            ]
        ]
    },
    {
        "id": "63898fda441bbff4",
        "type": "function",
        "z": "73fbb4589eaafdb7",
        "name": "Record Data",
        "func": "// Fungsi untuk merekam data dan mengatur nilai konteks\nvar recordData = function() {\n    var counter = context.get('counter') || 0;\n    if (counter < 10) {\n        counter++;\n        context.set('counter', counter);\n        \n        // Mengambil nilai CO dan NOx dari konteks\n        var co = flow.get('co');\n        var nox = flow.get('nox');\n        \n        // Membuat objek rekaman dengan nilai CO, NOx, dan timestamp\n        var record = {\"CO\": co, \"NOx\": nox, \"timestamp\": new Date().toLocaleString()};\n        \n        // Mendapatkan dan memperbarui data yang direkam\n        var records = context.get('records') || [];\n        records.push(record);\n        context.set('records', records);\n        \n        // Mengirim payload dengan data yang direkam ke node tabel\n        node.send({payload: records});\n        return {payload: records};\n    } else {\n        return null;\n    }\n};\n\n// Fungsi untuk mengosongkan tabel\nvar resetTable = function() {\n    msg.payload = \"resetTabel\";\n    // Mengatur nilai konteks tabel menjadi kosong\n    context.set('counter', 0);\n    context.set('records', []);\n    // Mengirim payload kosong ke node tabel\n    node.send({payload: []});\n    return {payload: []};\n};\n\n// Mendeteksi masukan dari tombol reset\nif (msg.payload === \"reset\") {\n    // Memanggil fungsi untuk mengosongkan tabel\n    resetTable();\n} else if (msg.payload === \"start\") {\n    // Memanggil fungsi untuk merekam data\n    recordData();\n}\n",
        "outputs": 1,
        "timeout": "",
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 970,
        "y": 520,
        "wires": [
            [
                "581902f40304d054"
            ]
        ]
    },
    {
        "id": "4f6b292c19eab890",
        "type": "ui_text",
        "z": "73fbb4589eaafdb7",
        "group": "cf8c7edb9fe7399d",
        "order": 2,
        "width": 0,
        "height": 0,
        "name": "",
        "label": "Tabel Record Motor Berpelat ",
        "format": "{{msg.payload}}",
        "layout": "row-center",
        "className": "",
        "style": false,
        "font": "",
        "fontSize": "",
        "color": "#000000",
        "x": 1040,
        "y": 200,
        "wires": []
    },
    {
        "id": "5adbb82891d63d40",
        "type": "ui_text_input",
        "z": "73fbb4589eaafdb7",
        "name": "",
        "label": "Masukkan Pelat Nomor Kendaraan ",
        "tooltip": "",
        "group": "cf8c7edb9fe7399d",
        "order": 1,
        "width": 0,
        "height": 0,
        "passthru": true,
        "mode": "text",
        "delay": "0",
        "topic": "",
        "sendOnBlur": true,
        "className": "",
        "topicType": "str",
        "x": 720,
        "y": 200,
        "wires": [
            [
                "4f6b292c19eab890"
            ]
        ]
    },
    {
        "id": "3c2651624c052ef4",
        "type": "ui_button",
        "z": "73fbb4589eaafdb7",
        "name": "",
        "group": "cf8c7edb9fe7399d",
        "order": 5,
        "width": "3",
        "height": "1",
        "passthru": false,
        "label": "Reset",
        "tooltip": "",
        "color": "",
        "bgcolor": "#AD1625",
        "className": "",
        "icon": "",
        "payload": "stop",
        "payloadType": "str",
        "topic": "payload",
        "topicType": "msg",
        "x": 210,
        "y": 400,
        "wires": [
            [
                "e22621bb91d02e40",
                "8fd86f6eb5c1281f",
                "26df2ea08dc9eba0"
            ]
        ]
    },
    {
        "id": "e22621bb91d02e40",
        "type": "change",
        "z": "73fbb4589eaafdb7",
        "name": "Clear Input",
        "rules": [
            {
                "t": "set",
                "p": "payload",
                "pt": "msg",
                "to": "",
                "tot": "str"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 470,
        "y": 200,
        "wires": [
            [
                "5adbb82891d63d40"
            ]
        ]
    },
    {
        "id": "26df2ea08dc9eba0",
        "type": "change",
        "z": "73fbb4589eaafdb7",
        "name": "Reset tabel",
        "rules": [
            {
                "t": "set",
                "p": "payload",
                "pt": "msg",
                "to": "reset",
                "tot": "str"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 470,
        "y": 520,
        "wires": [
            [
                "63898fda441bbff4"
            ]
        ]
    },
    {
        "id": "f0dd0865.0d98b",
        "type": "mqtt-broker",
        "name": "broker.hivemq.com",
        "broker": "broker.hivemq.com",
        "port": "1883",
        "clientid": "",
        "autoConnect": true,
        "usetls": false,
        "protocolVersion": "4",
        "keepalive": "60",
        "cleansession": true,
        "autoUnsubscribe": true,
        "birthTopic": "",
        "birthQos": "0",
        "birthPayload": "",
        "birthMsg": {},
        "closeTopic": "",
        "closeQos": "0",
        "closePayload": "",
        "closeMsg": {},
        "willTopic": "",
        "willQos": "0",
        "willPayload": "",
        "willMsg": {},
        "userProps": "",
        "sessionExpiry": ""
    },
    {
        "id": "f0a244d28136cdaf",
        "type": "ui_group",
        "name": "Air Consentration",
        "tab": "26ed375fbbb2c11b",
        "order": 1,
        "disp": true,
        "width": "6",
        "collapse": false,
        "className": ""
    },
    {
        "id": "cf8c7edb9fe7399d",
        "type": "ui_group",
        "name": "Manage",
        "tab": "26ed375fbbb2c11b",
        "order": 2,
        "disp": true,
        "width": "6",
        "collapse": false,
        "className": ""
    },
    {
        "id": "26ed375fbbb2c11b",
        "type": "ui_tab",
        "name": "Monitoring Gas Buang Sepeda Motor",
        "icon": "dashboard",
        "disabled": false,
        "hidden": false
    }
]
